@page
@using Identity.Pages.Login
@model Identity.Pages.Login.IndexModel

<h1 class="mb-3">@Model.Localizer["Sign in"]</h1>

<form class="mb-3" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success">
    <div class="form-floating mb-3">
        <input asp-for="Username" class="form-control" autofocus
               placeholder="@Model.Localizer[nameof(@Model.Username)]" />

        <label asp-for="Username"></label>
        <span asp-validation-for="Username"></span>
    </div>

    <button id="@IndexModel.SubmitButtonId" class="btn btn-primary" type="submit">@Model.Localizer["Sign in"]</button>
</form>

<component type="typeof(ExternalProviders)" render-mode="Static"
           param-returnUrl="@Model.ReturnUrl" />

<component type="typeof(Prompt)" render-mode="Static"
           param-text="@Model.Localizer["Don't have an account?"].Value"
           param-buttonText="@Model.Localizer["Create"].Value"
           param-url="@(new Uri("/", UriKind.Relative))" />

@section Scripts {
    <script>
        success = () => {
            location = location.pathname + '/Password' + location.search;
        }
    </script>

    <script>
        const input = document.getElementById("@nameof(Model.Username)");
        const button = document.getElementById("@IndexModel.SubmitButtonId");

        validateInput(input, button);
    </script>
}
