@page
@model Identity.Pages.Login.Index

<h1 class="mb-3">@Model.Text["HeadingTitle"]</h1>

<form class="mb-3" method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success">
    <input type="hidden" asp-for="Input.ReturnUrl" />

    <div class="form-floating mb-3">
        <input class="form-control" data-val-remote-additionalfields="__RequestVerificationToken"
               placeholder="@Model.Text[nameof(@Model.Input.Username)]" asp-for="Input.Username" autofocus />
        <label asp-for="Input.Username"></label>
        <span asp-validation-for="Input.Username"></span>
    </div>

    <button class="btn btn-primary" id="@Model.SubmitButtonId">@Model.Text["Login"]</button>
</form>

@if (Model.View.VisibleExternalProviders.Any())
{
    <ul class="list-inline">
        @foreach (var provider in Model.View.VisibleExternalProviders)
        {
            <li class="list-inline-item">
                <a class="btn btn-secondary"
           asp-page="/ExternalLogin/Challenge"
           asp-route-scheme="@provider.AuthenticationScheme"
           asp-route-returnUrl="@Model.Input.ReturnUrl">
                    @provider.DisplayName
                </a>
            </li>
        }
    </ul>
}

@section Scripts {
    <partial name="_Validation" />

    <script>
        $.validator.setDefaults({
            onkeyup: false,
            onfocusout: false
        });

        success = () => {
            window.location = '/Account/Login?handler=Success&query=' + window.location.search;
        }
    </script>

    <script>
        const inputId = '#@nameof(Model.Input)_@nameof(Model.Input.Username)';
        const buttonId = '#@Model.SubmitButtonId';

        $(function () {
            checkEmptyInput();

            $(inputId).on('input', function () {
                checkEmptyInput();
            });
        });

        function checkEmptyInput() {
            let value = $(inputId).val();

            $(buttonId).prop('disabled', isEmpty(value));
        }

        function isEmpty(str) {
            return !str.trim().length;
        }
    </script>
}
