@page
@using Identity.Pages.Login
@model Identity.Pages.Login.IndexModel

<h1>@Model.Localizer["Sign in"]</h1>

<form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="success">
    <div class="form-group form-floating">
        <input asp-for="Username" class="form-control" autocomplete="username" autofocus />
        <label asp-for="Username"></label>
        <span asp-validation-for="Username"></span>
    </div>

    <button id="@IndexModel.SubmitButtonId" class="form-button btn btn-primary" type="submit">
        @Model.Localizer["Sign in"]
    </button>
</form>

<component type="typeof(Prompt)" render-mode="Static"
           param-text="@Model.Localizer["Don't have an account?"].Value"
           param-buttonText="@Model.Localizer["Create"].Value"
           param-url="@Model.RegistrationUrl" />

<component type="typeof(ExternalProviders)" render-mode="Static"
           param-returnUrl="@Model.ReturnUrl" />

@section Scripts {
    <script>
        success = () => location += '&handler=Success';
    </script>

    <script>
        const input = document.getElementById("@nameof(Model.Username)");
        const button = document.getElementById("@IndexModel.SubmitButtonId");

        validateInput(input, button);
    </script>
}
