@page
@model Identity.Pages.Login.Index

<h1 class="mb-3">@Model.Text["HeadingTitle"]</h1>

<partial name="_ValidationSummary" />

@if (Model.View.EnableLocalLogin)
{
    <form class="mb-3" asp-page="/Account/Login/Index">
        <input type="hidden" asp-for="Input.ReturnUrl" />

        <div class="mb-3">
            <input class="form-control" placeholder="@Model.Text[nameof(@Model.Input.Username)]" asp-for="Input.Username" autofocus>
        </div>

        <div class="mb-3">
            <input class="form-control" placeholder="@Model.Text[nameof(@Model.Input.Password)]" asp-for="Input.Password" autocomplete="off">
        </div>

        @if (Model.View.AllowRememberLogin)
        {
            <div class="mb-3 form-check">
                <input class="form-check-input" asp-for="Input.RememberLogin" />
                <label class="form-check-label" asp-for="Input.RememberLogin">@Model.Text[nameof(@Model.Input.RememberLogin)]</label>
            </div>
        }

        <button class="btn btn-primary" name="Input.Button" value="login">@Model.Text["Login"]</button>
    </form>
}

@if (Model.View.VisibleExternalProviders.Any())
{
    <p>@Model.Text["SuggestExternalLogin"]</p>

    <ul class="list-inline">
        @foreach (var provider in Model.View.VisibleExternalProviders)
        {
            <li class="list-inline-item">
                <a class="btn btn-secondary"
           asp-page="/ExternalLogin/Challenge"
           asp-route-scheme="@provider.AuthenticationScheme"
           asp-route-returnUrl="@Model.Input.ReturnUrl">
                    @provider.DisplayName
                </a>
            </li>
        }
    </ul>
}

@if (!Model.View.EnableLocalLogin && !Model.View.VisibleExternalProviders.Any())
{
    <div class="alert alert-warning">
        <strong>@Model.Text["InvalidLoginTitle"]</strong>
        @Model.Text["InvalidLoginDescription"]
    </div>
}
