@page
@using Identity.Pages.Login
@model Identity.Pages.Login.PasswordModel

<h1 class="title">@Model.Localizer["Sign in"]</h1>

<a class="back" href="@Model.LoginUrl" title="@Model.Localizer["Back"]">
    <svg class="back__icon" viewBox="0 0 384 512" height="20" width="20">
        <path d="M41.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L109.3 256 278.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
    </svg>
</a>

<form method="post" data-ajax="true" data-ajax-method="post" data-ajax-success="submit()">
    <div class="form-group form-floating">
        <input asp-for="Password" class="form-control" autocomplete="current-password" autofocus />
        <label asp-for="Password"></label>
        <span asp-validation-for="Password"></span>
    </div>

    <button id="@PasswordModel.SubmitButtonId" class="form-button btn btn-primary" type="submit">
        @Model.Localizer["Sign in"]
    </button>
</form>

<component type="typeof(ExternalProviders)"
           render-mode="Static"
           param-returnUrl="@Model.ReturnUrl" />

@section Scripts {
    <script>
        const input = document.getElementById("@nameof(Model.Password)");
        const button = document.getElementById("@PasswordModel.SubmitButtonId");

        validateInput(input, button);
    </script>
}
