@page
@model Identity.Pages.Error.Index

<h1>@Model.Text["HeadingTitle"]</h1>

<div class="alert alert-danger">
    @Model.Text["ErrorOccurred"]

    @if (Model.View.Error != null)
    {
        <strong>
            <em>
                : @Model.View.Error.Error
            </em>
        </strong>

        if (Model.View.Error.ErrorDescription != null)
        {
            <div>@Model.View.Error.ErrorDescription</div>
        }
    }
</div>

@if (Model?.View?.Error?.RequestId != null)
{
    <div>@Model.Text["RequestId"]: @Model.View.Error.RequestId</div>
}
